

:root {
  --first: #7C93C3;
  --second: #55679C;
  --third: #1E2A5E;
  --fourth: #E1D7B7;
  --h: white;
  --text: white;
}

div{
    text-align: center;
    border: 5px solid var(--fourth);
    background-color: var(--second);
    border-radius: 20px;
    
    justify-content: center;
    align-items: center; 
    padding-left: 80px;  
    padding-right: 80px;
    

    display: flex;
    max-width:600px;
    margin: auto;
    margin-bottom: 30px;
    flex-direction: column; 

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

body{
    background-color: var(--first);
}

h1{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--h);

    background-color: var(--third);
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
}

h2{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--h);

    background-color: var(--third);
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

img{
    text-align: center;
    width: 50%;
    margin: 0px;
    object-fit: cover;
    border-radius: 20px
}

a{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--first);
    margin-bottom: 20px;
    color: var(--text);
}

p{
    color: var(--text);
    font-family: "Zen Maru Gothic", sans-serif;
}

button{
    aspect-ratio: 1;
    background-color: var(--second);
    border-radius: 50px;
    color: var(--text);
}

.change-theme {
  position: fixed;   
  right: 20px;       
  bottom: 20px;      
  z-index: 9999;    
}